
.header {
    display: flex;
    padding: 92px 49px 92px 51px;
    height: 293px;
    width: 1440px;
    background-color:aqua;
}
.header_menu {
    align-self: center;
    justify-content: space-around;
} 
.header_links-list {
    display: inline-flex;
    list-style: circle;
    font-size: 18px;
    gap: 32px;
    white-space: nowrap;
}
.header_link-active {
    list-style: none;
}


.header_logo {
    width: 148px;
    height: 105px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
}
.header_adress {
    align-self: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
    font-size: 18px;
}
